@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #111827;
  /* Match Electron window background to prevent flashing */
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrollbars during transitions */
  user-select: none;
}

input,
textarea {
  user-select: text;
}

*:focus {
  outline: none;
}


/* Electron Window Controls */
.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 85, 99, 0.8);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(75, 85, 99, 0.4) transparent;
}